@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    justify-content: space-between;
    background-color: #A6A6A6;
    text-align: center;
    padding: 1vw;
}

nav {
    text-align: center;
    padding-top: 0.5vw;
}

nav a {
    text-decoration: none;
    margin-right: 2vw;
    font-family: 'rubik';
    font-size: 1em;
    color: #0D0D0D;
    border-radius: 20px;
    transition: background-color 0.4s, color 0.4s;
    display: inline-block;
    position: relative;
    
}

nav a:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-out, left 0.3s ease-out;

}

nav a:hover:before {
    
    width: 100%;
    left: 0;
}

a:link {
    font-weight: 50em;
}

a:active {
    font-weight: 400;
    color: #595959;

}

a:visited {
    color: #595959;
    font-style: italic;
}

a:hover {
    color: #595959;
}

.borda {
    border-bottom: 0.2em solid;
  
}

h1 {
    font-family: 'dosis';
    font-weight: 500;
   
}

p {
    font-family: 'dosis';
    margin-left: 2vw;
    text-align: justify;
}

ul li {
    list-style-type: none;
    margin: 3vw;
   
}

.icones img {
    width: 4vw;
    float: left;
    display: inline;
}

form {
    background-color: #A6A6A6;
    margin: 2vw;
   padding: 2vw;
}

input {
    display: inline-block;
}

label {
    font-family: 'dosis';
}

fieldset {
    font-family: 'dosis';
}

button {
    height: 3vw;
    width: 10vw;
    text-align: center;
    border-radius: 1px 1vw;
    background-color: #A6A6A6;
    font-family: 'dosis';

}
button a {
    text-decoration: none;
    font-family: 'rubik';
    font-size: 1em;
    color: #0D0D0D;
    border-radius: 20px;
    width: 100%;
    left: 0;
}



figure img {
    width: 20vw;
    float: left;
    margin-right: 5vw;
}

footer {
    background-color: #262626;
    display: flex;
    flex-direction: row;
    margin-top: 30%;
    padding: 5vw;
}

main {
    margin: 5vw;
}





