@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    justify-content: space-between;
    background-color: #A6A6A6;
    text-align: center;
    padding: 1vw;
}

nav {
    text-align: center;
    padding-top: 0.5vw;
}

nav a {
    text-decoration: none;
    margin-right: 2vw;
    font-family: 'rubik';
    font-size: 1em;
    color: #0D0D0D;
    border-radius: 20px;
    transition: background-color 0.4s, color 0.4s;
    display: inline-block;
    position: relative;
    
}

nav a:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-out, left 0.3s ease-out;

}

nav a:hover:before {
    
    width: 100%;
    left: 0;
}

a:link {
    font-weight: 50em;
}

a:active {
    font-weight: 400;
    color: #595959;

}

a:visited {
    color: #595959;
    font-style: italic;
}

a:hover {
    color: #595959;
}

.borda {
    border-bottom: 0.2em solid;
  
}

h1 {
    font-family: 'dosis';
    font-weight: 500;
   
}

p {
    font-family: 'dosis';
    margin-left: 2vw;
    text-align: justify;
    font-size: 1.2em;
}

ul li {
    list-style-type: none;
    margin: 3vw;
   
}


input {
    display: inline-block;
}

label {
    font-family: 'dosis';
}

fieldset {
    font-family: 'dosis';
}

button {
    height: 3vw;
    width: 10vw;
    text-align: center;
    border: 1px #262626 solid;
    border-radius: 5px;
    background-color: #A6A6A6;
    font-family: 'dosis';

}
button a {
    text-decoration: none;
    font-family: 'rubik';
    font-size: 1.2em;
    color: #0D0D0D;
}

button:hover {
    background-color: rgb(79, 180, 238);
}

figure img {
    width: 20vw;
    float: left;
    margin-right: 5vw;
    margin-top: 5vw;
}

footer {
    background-color: #262626;
    text-align: center;
    flex-direction: row;
    margin-top: 5%;
    padding: 5vw;
    color: #ccc;
    font-family: 'dosis';
}

main {
    margin: 5vw;
    margin-bottom: 2vw;
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilo do container */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilo dos blocos */
  .block {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  /* Estilo dos títulos dos blocos */
  .block h2 {
    margin-bottom: 10px;
  }
  
  /* Estilo das listas */
  .list {
    list-style: none;
    padding: 0;
  }
  
  /* Estilo dos itens da lista */
  .list li {
    margin-bottom: 5px;
  }
  
  /* Estilo dos itens ímpares */
  .list li:nth-child(odd) {
    background-color: #ddd;
  }
  
  /* Estilo dos itens pares */
  .list li:nth-child(even) {
    background-color: #ccc;
  }

  .list {
    font-weight: 600;
    font-family: 'dosis';

  }

  .container img {
    width: 7vw;
    float: left;
  }

  h2 {
    text-align: center;
    margin-top: 2vw;
  }

.container-index {
    margin-top: 5vw;
}

section img {
    width: 4vw;
}

section {
    text-align: center;
    
}

h2 {
    font-family: 'dosis';

}

li { 
    font-family: 'dosis';

}

section p { 
    text-align: center;
    padding-bottom: 1vw;
}

.artigo {
    display: inline-block;
}
.artigo img {
    width: 45vw;
    margin: 0;
    padding: 0;
}

.block-article {
    background-color: #a6a6a667;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  .icones img {
    width: 3.5vw;
    margin-right: 1vw;
    float: left;
  }

.form {
    max-width: 90%; 
    margin: 5% auto; 
    padding: 5%; 
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  label {
    display: block;
    margin-bottom: 1rem; 
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 1rem; 
    margin-bottom: 1.5rem; 
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  
 
  
  




